<h1>New Stock Item</h1>

<form action="/stocks" method="post">
  <div class ="form-wrapper">
    <label> Select Album: </label>
      <select name="album_id">
        <% for album in @albums %>
        <option value="<%= album.id %>"><%= album.title %></option>
        <% end  %>
      </select>
    
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity"/>
    <input type="submit" value="Save"/>
  </div>
</form>
