<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Profile</th>
      <th>Image</th>
    </tr>
    <tr>
      <% @artists.each do |artist| %>
      <td> <%= artist.id %> </td>
      <td> <%= artist.name %> </td>
      <td> <%= artist.bio %> </td>
      <td> <img src="<%= artist.image %> "></td>
    </tr>
      <% end  %>
  </table>

</div>
